// Spartan
@font-face {
  font-family:"Crimson Text";
  src: url('https://fonts.googleapis.com/css?family=Crimson+Text:400i');
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i');
