// Page stuff

.section {
  padding-top: $spacing-unit * 2;
}


// Site Footer

.site-footer {
  bottom: 0;
  font-family: $accent-font;
  font-style:italic;
  font-weight:400;
  height: auto;
  padding: $spacing-unit 0;
  width: 100%;

}

.site-footer a{
  font-family: $base-font-family;
  font-style: normal;
}


.footer-links {
padding-left: 33.3%;
}

.link-list{
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include media-query($on-palm) {
    flex-direction: column;
    font-size: $base-font-size *.75;

    li{
      margin: ($spacing-unit * .375) 0;

    }

  }
}

.link-list li {
  margin-right: $spacing-unit / 2;
}

.footer-col-wrapper {
  color: $text-color;
  font-size: $base-font-size / 1.25;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}
