// Page Content

.page-content {
  padding: ($spacing-unit * 2) 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    text-align: center;
    width: 100%;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $text-color;
  letter-spacing: .2px;
}

.post-link {
  display: block;
  font-size: $base-font-size * 2;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: $base-font-size * 2;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

  .post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: $base-font-size * 2;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: $base-font-size * 1.675;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: $base-font-size;

    @include media-query($on-laptop) {
      font-size: $base-font-size;
    }
  }
}

.post-content p {
  font-size: $base-font-size * 2;
  width: 75%;

}

.post-content a {
  color: $text-color;
  text-decoration:underline;}


.post-content p + p {
  text-indent: 1em;
}

.post-img{
  margin-top: $spacing-unit * 2;
}

.featured-img {
  max-width: 100%;
}

@include media-query($on-palm) {
  .post-content p {
    font-size: $base-font-size;
  }
  }
