h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-top: $spacing-unit / 2;
}


.site-title {
  background-color:$background-color;
  font-family:$accent-font;
  font-size: $base-font-size * 3;
  font-style:italic;
  font-weight:400;
  letter-spacing: -1.5px;
  margin-bottom: 0;
  margin-left: -#{$spacing-unit};
  padding: 0 $spacing-unit 0 0;
  position: fixed;
  text-align: center;
  width: 100%;

  &,
  &:visited {
    color: $text-color;
  }
}

.site-title {
  text-decoration: none;
  &,
  &:hover {
    text-decoration: none;
  }
}



@include media-query($on-palm) {
  .site-title {
    font-size: $base-font-size * 2;
    letter-spacing: normal;
  }
}


body {
  font: $base-font-weight #{$base-font-size * 1.5}/#{$base-line-height * 1.3} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;

}


h1 {
  font-size: $base-font-size * 2;
}

h2 {
  font-size: $base-font-size * 1.5;
}

figure {
  padding: $spacing-unit 0;
}

figcaption {
  font-size: $base-font-size;

  @include media-query($on-laptop){
    font-size: $base-font-size*.75;
  }
}

sup {
  vertical-align: text-top;
  font-size: smaller;
}


// Lists

ul, ol {
  font-size: $base-font-size;
  list-style: none;

}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


// Headings

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  text-align: left;
  // margin-top: $base-font-size * 4;
  // color: $background-color;
  // text-shadow: -1px 0 $text-color, 0 1px $text-color, 1px 0 $text-color, 0 -1px $text-color;
}


// Links

a {
  color: $text-color;
  text-decoration: none;
  text-shadow: none;

  &:visited {
    // color: darken($text-color, 15%);
    color: $text-color;
  }

  &:hover {
    color: $brand-color;
    text-shadow: none;
    text-decoration: none;
    visibility: visible !important;
  }
}

svg:hover{
      fill: $brand-color !important;
      text-shadow: none;
      text-decoration: none;
      visibility: visible !important;
    }


// Mobile

@include media-query($on-palm) {

  h1{
    font-size: $base-font-size * 1.25;
  }

  ul, ol {
    font-size: $base-font-size * .75;
  }

}
