// Define defaults for each variable.

$base-font-family: "Gothic720", Helvetica, Arial, sans-serif !default;
$accent-font: "Gothic720 Italic", sans-serif !default;
$base-font-size:   24px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.675 !default;
$base-line-height: 1 !default;

$spacing-unit:     24px !default;

$text-color:       #71B571 !default;
$background-color: white !default;
$brand-color:      #b79e6e !default;
$grey-color:       #EEE !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;


// Width of the content area
$content-width:    100% !default;
$on-palm:          600px !default;
$on-laptop:        768px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials. Probably shouldn't reorder this.
@import
  "partials/base",
  "partials/layout",
  "partials/syntax-highlighting",
  "partials/posts",
  "partials/home",
  "partials/fonts",
  "partials/typography",

  "partials/header"
;
